---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="关于我"
    description="帮助你快速认识我"
    pubDate={new Date("June 28 2026")}
    heroImage={AboutHeroImage}
    tags={[]}
    draft={false}
>
    <p>我是一个 C++ 开发者，专注于 Linux C++ 系统开发领域的工作。</p>
    <p>同时也在思考在 AI 时代，怎么样更快更好的用 C++ 构建我们的世界。</p>
</Layout>
